<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scut.mychart.mapper.CompanyMapper">
	<!-- 开启二级缓存 -->
	<cache size="1024" readOnly="true" />
	
	<select id="getCountByGender" resultType="org.scut.mychart.model.CompanyModel" useCache="true">
		<![CDATA[
			select year(base_date) as year, company_type as ctype, sex, count(*) as total 
			from company_social_security c, person p 
			where c.social_security_card = p.social_security_card 
			group by year, ctype, sex 
			order by year, ctype, sex
		]]>
	</select>

	<select id="getAgeRange" resultType="org.scut.mychart.model.CompanyModel" useCache="true">
		<![CDATA[
			select year(base_date) as year, company_type as ctype, (year(base_date) - year(p.birthday)) as age 
			from company_social_security c, person p 
			where c.social_security_card = p.social_security_card 
			group by year, company_type, age 
			order by year,company_type
		]]>
	</select>

	<select id="getCompanyInsuranceTotal" resultType="org.scut.mychart.model.CompanyModel" useCache="true">
		<![CDATA[
			select year(base_date) as year, company_type as ctype, sum(social_insurance_base) as total  
			from company_social_security 
			group by year, company_type
			order by year, ctype
		]]>
	</select>
	
	<select id="getCompanyInsurancePersonTotal" resultType="org.scut.mychart.model.CompanyModel" useCache="true">
		<![CDATA[
			select year(base_date) as year, company_type as ctype, count(distinct(social_security_card)) as personTotal  
			from company_social_security 
			group by year, company_type 
			order by year, ctype
		]]>	
	</select>
</mapper>