<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scut.mychart.mapper.IndustryMapper">
	<!-- 开启二级缓存 -->
	<cache size="1024" readOnly="true" />
	<select id="selectIndustry" parameterType="java.util.Map" resultType="org.scut.mychart.model.IndustryModel" statementType="STATEMENT">
		select distinct industry_code
		from company_social_security
	</select>
	<select id="selectByGender" parameterType="java.util.Map" resultType="org.scut.mychart.model.IndustryModel" statementType="STATEMENT">
		select year(base_date) as "year",sex as "sex",count(distinct person.social_security_card) as "person_num"
		from company_social_security inner join person
		on company_social_security.social_security_card=person.social_security_card
		where industry_code = "${industry_code}"
		group by year,sex
		order by year,sex
	</select>
	<select id="selectByGenderAll" parameterType="java.util.Map" resultType="org.scut.mychart.model.IndustryModel" statementType="STATEMENT">
		select year(base_date) as "year",sex as "sex",count(distinct person.social_security_card) as "person_num"
		from company_social_security inner join person
		on company_social_security.social_security_card=person.social_security_card
		group by year,sex
		order by year,sex
	</select>
	<select id="selectByAge" parameterType="java.util.Map" resultType="org.scut.mychart.model.IndustryModel" statementType="STATEMENT">
		select year(base_date) as "year",
		case when (year(base_date)-year(birthday)>50) then "50岁以上"
		when (year(base_date)-year(birthday)>40) then "40岁—50岁"
		when (year(base_date)-year(birthday)>30) then "30岁—40岁"
		when (year(base_date)-year(birthday)>25) then "25岁—30岁"
		when (year(base_date)-year(birthday)>22) then "22岁—25岁"
		when (year(base_date)-year(birthday)>=18) then "18岁—22岁"
		else "18岁以下 " end as "age",
		count(distinct person.social_security_card) as "person_num"
		from company_social_security inner join person
		on company_social_security.social_security_card=person.social_security_card
-- 		where industry_code = "租赁和商务服务业"
		where industry_code = "${industry_code}"
		group by year,age
		order by year,age
	</select>
	<select id="selectByAgeAll" parameterType="java.util.Map" resultType="org.scut.mychart.model.IndustryModel" statementType="STATEMENT">
		select year(base_date) as "year",
		case when (year(base_date)-year(birthday)>50) then "50岁以上"
		when (year(base_date)-year(birthday)>40) then "40岁—50岁"
		when (year(base_date)-year(birthday)>30) then "30岁—40岁"
		when (year(base_date)-year(birthday)>25) then "25岁—30岁"
		when (year(base_date)-year(birthday)>22) then "22岁—25岁"
		when (year(base_date)-year(birthday)>=18) then "18岁—22岁"
		else "18岁以下 " end as "age",
		count(distinct person.social_security_card) as "person_num"
		from company_social_security inner join person
		on company_social_security.social_security_card=person.social_security_card
		group by year,age
		order by year,age
	</select>
	<select id="selectOrderByCardinality" parameterType="java.util.Map" resultType="org.scut.mychart.model.IndustryModel" statementType="STATEMENT">
		select year(base_date) as "year",industry_code,avg(social_insurance_base) as cardinality
		from company_social_security
		group by year,industry_code
		order by year,cardinality DESC
	</select>

</mapper>