<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scut.mychart.mapper.TsylMapper">
	<!-- 开启二级缓存 -->
	<cache size="1024" readOnly="true" />
	
	<select id="getCountByGender" resultType="org.scut.mychart.model.TsylModel" useCache="true">
		<![CDATA[
			select year(h.operation_time) as year, p.sex as sex, count(*) as sum 
			from hospital_business h, person p 
			where h.operation = #{0} and h.social_security_card = p.social_security_card 
			group by year, sex 
			order by year
		]]>
	</select>

	<select id="getAreaCoverage" resultType="org.scut.mychart.model.TsylModel" useCache="true">
		<![CDATA[
			select year(operation_time) as year, area, count(*) as sum 
			from hospital_business 
			where operation = #{0} 
			group by year, area 
			order by year
		]]>
	</select>
	<select id="getAgeRange" resultType="org.scut.mychart.model.TsylModel" useCache="true">
		<![CDATA[
			SELECT count(*) as sum,year(operation_time) as year,year(birthday) as birth
			FROM hospital_business join person on hospital_business.social_security_card=person.social_security_card
			where operation = #{0}
			group by birth,year
			order by year,birth
		]]>
	</select>
	<select id="getHospitalTotal" resultType="org.scut.mychart.model.TsylModel" useCache="true">
		<![CDATA[
			select count(*) as sum, year(operation_time) as year, hospital
			from hospital_business where operation = #{0}
			group by year, hospital
			order by year,sum desc
		]]>
	</select>
	<select id="getDepartmentTotal" resultType="org.scut.mychart.model.TsylModel" useCache="true">
		<![CDATA[
			select count(*) as sum, year(operation_time) as year, hospital, department
			from hospital_business
			where operation = #{0}
			group by year, hospital, department
			order by year,sum desc
		]]>
	</select>

	
</mapper>